body {
    color: #6a6c6f;
    margin-top: 30px;
}

header {
    padding-bottom: 10px;
}

.control-panel {
    padding-bottom: 10px;
}

.container {
    max-width: 640px;
}

.active-row {
    background-color: #CCCCCC;
}

#search {
    width: 50%;
}

.input-group {
    padding: 8px 0;
}

.display-none {
    display: none;
}